
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>All about us!</h2>
    <p>We're a small team.</p>

    <a href="/contact" class="btn btn-lg btn-primary">Drop us a line</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h1>The Team</h1>

  <div class="row">
    <% for (user of users) { %>
      <div class="col-sm-3">
        <h2><%= user.name %>
        <img src="<%= user.avatar %>" alt="" class="img-responsive">
      </div>
    <% } %>
  </div>
</div>
