<div class="jumbotron text-center">
  <h1>Contact Page</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Contact Us!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ullam, tempore exercitationem voluptas deserunt culpa, eligendi nemo iste quas nisi ducimus cum sed earum est, laboriosam in cumque ipsum. Nihil.</p>

      <form action="/contact" method="POST">
        
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Your Message</label>
          <input type="text" name="message" class="form-control">
        </div>
        
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Send</button>
        </div>

      </form>
    </div>
  </div>
</div>